@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--primary-50: #fcf3ff;
	--primary-100: #f7e3ff;
	--primary-200: #f0cdff;
	--primary-300: #e5a5ff;
	--primary-400: #d66cff;
	--primary-500: #c735ff;
	--primary-600: #b90fff;
	--primary-700: #a400f0;
	--primary-800: #8a06c3;
	--primary-900: #71079c;
	font-family: var(--font-body);
	color: var(--primary-50);
}

body {
	min-height: 100vh;
	margin: 0;
	background: linear-gradient(180deg, var(--primary-900) 0%, var(--primary-800) 100%);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--primary-300);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: var(--primary-100);
	border-radius: 3px;
	box-shadow: 2px 2px 6px var(--primary-700);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--primary-900);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
